html {
    margin: 0;
    padding: 0;
    overflow:hidden;
}
body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}
div {
    margin: 0;
    padding: 0;
    overflow:hidden;
}
canvas {
    margin: 0;
    padding: 0;
    overflow:hidden;
}